html,body
{
	margin: 0;
	padding: 0;
}

:root{
    --main-brown-primary: #795548;
    --main-brown-secondary: #4E342E;
    --main-brown-bg: #eacda3;
    --main-green-primary: #4CAF50;
    --main-green-secondary: #1B5E20;
    --main-lightgreen-primary: #8BC34A;
    --main-lightgreen-secondary: #558B2F;
		--main-border-color:white;
}


#slideshow-div
{
	background-color: white;
	clear: both;
	padding-bottom: : 64px;
	display: block;
	overflow: auto;
	box-sizing: border-box;
}

#offers
{
	clear: both;
	height: auto;
	padding: 12px 48px 12px 48px;
	color:whitesmoke;
	background-color: var(--main-green-primary);
	box-sizing: border-box;
}
.description
{
	color:darkgreen;
	margin: 0 auto;
	font-weight: lighter;
	font-size: 14px;
	font-family: "Open Sans";
	padding-top: 60px;
	line-height: 24px;
	text-align: center;
	font-size: 18px;
	max-width: 600px;
}

.content
{
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 48px;
}
/* primary_navbar menu fixed to top*/
.marque{
	z-index: 1;
	position: absolute;
  left: 64px;
	bottom: 64px;
  max-width:360px;
  background-color:#009688;
  padding:12px;
  line-height:20px;
  word-spacing:2px;
  color:white;
  font-family: "Open-sans";
  border: 2px solid white;
}

#footer
{
	color: var(--main-green-secondary);
  background-color: var(--main-brown-bg);
	padding-top: 60px;
	padding-left: 24px;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: var(--main-brown-secondary);
	align-items: center;
  position: fixed;
	font-family:"Lobster";
  top:0;
  left: 0;
  margin: 0;
  height: auto;
  width:100%;
  font-weight: lighter;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(87,85,87,1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(87,85,87,1);
  box-shadow: 0px 0px 7px 0px rgba(87,85,87,1);
  overflow: hidden;
}
.topnav img{
	width: 60px;
	height: 40px;
	border-radius: 10%;
	margin: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
		font-family:"Lobster";
  	letter-spacing: 1px;
	  -webkit-transition: letter-spacing 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	  transition: letter-spacing 0.5s ease;
}
.topnav a:hover
{
	color: var(--main-green-primary);
  font-weight: bolder;
  /*font-size: 18px;*/
  /*letter-spacing: 5px;*/
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


@media screen and (max-width: 800px) {
	#slideshow-div{
		margin-top: 60px;
	}
	/*.topnav a:not(:first-child) {display: none;}*/
	.topnav a:not(:nth-child(2)) {display: none;}
  .topnav a.icon {
    display: block;
  }
	.marque{
		display: none;
	}
	/*.topnav.responsive {position: relative;}*/
  .topnav.responsive a.icon {
    position: absolute;
    right: 10;
    top: 10;
  }
  .topnav.responsive a {
    display: flex;
		flex-direction: column;
		align-items: center;
		padding: 12px;
  }
	#new-arrivals img{
		padding-top: 24px;
		width: 200px;
		background-position: center center;
  	background-repeat: no-repeat;
	}
	#category img{
		padding-top: 24px;
		width: 200px;
	}
	#clothing img{
		padding-top: 24px;
		width:200px;
	}
	h1{
		color: var(--main-green-primary);
	}
	.form{
		max-width: 100px;
		padding: 24px;
		display: block;
		margin: 0 auto;
	}
	.form input,textarea{
		border:1px solid #ccc;
		border-radius: 5px;
		padding: 12px 20px;
		margin: 16px;
		max-width: 100px;
	}
}

.container-flex{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.contact{
	color:var(--main-green-primary);
	font-weight: lighter;
	font-size: 14px;
	font-family: "Open Sans";
	padding: 48px;
}
.container-flex-vertical{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}
.flex-box-item{
	margin: 24px;
}
#category img{
	width: 300px;
}
#clothing img{
	width:300px;
}
#new-arrivals img{
	width: 300px;
}
.featured{
	border: 10px solid var(--main-border-color);
	margin: 24px;
	text-align: center;
	font-family: 'Lobster', sans-serif;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}
.box-title{
	padding: 24px;
	font-family: 'Lobster', sans-serif;
	font-weight: lighter;
	font-size: 48px;
	text-align: center;
	color: var(--main-border-color);
}
.box-title-two{
	padding: 24px;
	font-family: 'Lobster', sans-serif;
	font-weight: lighter;
	font-size: 48px;
	text-align: center;
	color: var(--main-border-color);
}
#category
{
	padding-top: 64px;
	padding-bottom: 64px;
	background-color: var(--main-green-primary);
}

#new-arrivals
{
	padding-top: 60px;
	padding-bottom: 64px;
	background-color: var(--main-brown-bg);
}

.form{
	max-width: 600px;
	padding: 24px;
	display: block;
	margin: 0 auto;
}
.form input{
	border:1px solid #ccc;
	border-radius: 5px;
	padding: 12px 20px;
	margin: 16px;
	min-width: 320px;
	background-color: #F4F4F4;
}
.form textarea{
	border:1px solid #ccc;
	border-radius: 5px;
	padding: 12px 20px;
	margin: 16px;
	min-width: 400px;
	background-color: #F4F4F4;
}


#clothing
{
	clear: both;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color:var(--main-brown-bg);
}
